@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="password"]::-webkit-password-reveal-button {
    @apply hidden;
  }

  input[type="password"]::-ms-reveal {
    @apply hidden;
  }
}

@theme {
  --color-primary-blue: #042443;
  --color-primary-yellow: #ffd700;

  --color-secondary-blue: #002147;
}
