@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* html {
  scrollbar-gutter: stable;
} */

/* Global Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #002147; /* secondary-blue */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #002147; /* secondary-blue */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="password"]::-webkit-password-reveal-button {
    @apply hidden;
  }

  input[type="password"]::-ms-reveal {
    @apply hidden;
  }

  /* Remove arrow from input type number */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@theme {
  --color-primary-blue: #042443;
  --color-primary-yellow: #ffd700;

  --color-secondary-blue: #002147;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

/* Custom Components */
@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a5565;
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .custom-select {
    appearance: none;
    background-image:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e"),
      linear-gradient(
        to left,
        var(--color-primary-blue) 1.2rem,
        transparent 1.2rem
      );
    background-repeat: no-repeat;
    background-position:
      right 0.2rem center,
      right top;
    background-size:
      0.8em 0.8em,
      100% 100%;
    padding-right: 2rem !important; /* Force override */
  }

  /* Target options inside the select */
  .custom-select option {
    background-color: white;
    color: var(--color-primary-blue);
    padding: 8px;
  }
}
