@import "tailwindcss";
@plugin "@tailwindcss/typography";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="password"]::-webkit-password-reveal-button {
    @apply hidden;
  }

  input[type="password"]::-ms-reveal {
    @apply hidden;
  }

  /* Remove arrow from input type number */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@theme {
  --color-primary-blue: #042443;
  --color-primary-yellow: #ffd700;

  --color-secondary-blue: #002147;
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.95); }
}

.animate-fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}