version: "3.8"

services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    command: npx ts-node-dev src/server.ts
    container_name: bif-server
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
    working_dir: /app
    env_file:
      - ./server/.env
    depends_on:
      - mongo

  client:
    build: ./client
    command: npm run dev
    container_name: bif-client
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
    working_dir: /app
    depends_on:
      - server

volumes:
  mongo_data:
