version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: bif_db
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db

  db-seeder:
    build: .
    container_name: bif_seeder
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://root:example@bif_db:27017/bif-auction-db?authSource=admin
    links:
      - mongo

volumes:
  mongo-data:
